<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>payrollSystem</display-name>
  <servlet>
    <servlet-name>LoginEmployee</servlet-name>
    <servlet-class>servlet.LoginEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginEmployee</servlet-name>
    <url-pattern>/servlet/LoginEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginAdmin</servlet-name>
    <servlet-class>servlet.LoginAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAdmin</servlet-name>
    <url-pattern>/servlet/LoginAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChooseFunction</servlet-name>
    <servlet-class>servlet.ChooseFunction</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChooseFunction</servlet-name>
    <url-pattern>/servlet/ChooseFunction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddHourlyEmployee</servlet-name>
    <servlet-class>servlet.AddHourlyEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddHourlyEmployee</servlet-name>
    <url-pattern>/servlet/AddHourlyEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddCommissionEmployee</servlet-name>
    <servlet-class>servlet.AddCommissionEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCommissionEmployee</servlet-name>
    <url-pattern>/servlet/AddCommissionEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddSalaryEmployee</servlet-name>
    <servlet-class>servlet.AddSalaryEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSalaryEmployee</servlet-name>
    <url-pattern>/servlet/AddSalaryEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteEmployee</servlet-name>
    <servlet-class>servlet.DeleteEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEmployee</servlet-name>
    <url-pattern>/servlet/DeleteEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowEmployeeMessage</servlet-name>
    <servlet-class>servlet.ShowEmployeeMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowEmployeeMessage</servlet-name>
    <url-pattern>/servlet/ShowEmployeeMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeToHourlyEmployee</servlet-name>
    <servlet-class>servlet.ChangeToHourlyEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeToHourlyEmployee</servlet-name>
    <url-pattern>/servlet/ChangeToHourlyEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeToSalaryEmployee</servlet-name>
    <servlet-class>servlet.ChangeToSalaryEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeToSalaryEmployee</servlet-name>
    <url-pattern>/servlet/ChangeToSalaryEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeToCommissionEmployee</servlet-name>
    <servlet-class>servlet.ChangeToCommissionEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeToCommissionEmployee</servlet-name>
    <url-pattern>/servlet/ChangeToCommissionEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeDirectMethod</servlet-name>
    <servlet-class>servlet.ChangeDirectMethod</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeDirectMethod</servlet-name>
    <url-pattern>/servlet/ChangeDirectMethod</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeMailMethod</servlet-name>
    <servlet-class>servlet.ChangeMailMethod</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeMailMethod</servlet-name>
    <url-pattern>/servlet/ChangeMailMethod</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeHoldMethod</servlet-name>
    <servlet-class>servlet.ChangeHoldMethod</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeHoldMethod</servlet-name>
    <url-pattern>/servlet/ChangeHoldMethod</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeEmployeeName</servlet-name>
    <servlet-class>servlet.ChangeEmployeeName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeEmployeeName</servlet-name>
    <url-pattern>/servlet/ChangeEmployeeName</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeEmployeeAddress</servlet-name>
    <servlet-class>servlet.ChangeEmployeeAddress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeEmployeeAddress</servlet-name>
    <url-pattern>/servlet/ChangeEmployeeAddress</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeEmployeeunAffiliation</servlet-name>
    <servlet-class>servlet.ChangeEmployeeunAffiliation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeEmployeeunAffiliation</servlet-name>
    <url-pattern>/servlet/ChangeEmployeeunAffiliation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeEmployeeAffiliation</servlet-name>
    <servlet-class>servlet.ChangeEmployeeAffiliation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeEmployeeAffiliation</servlet-name>
    <url-pattern>/servlet/ChangeEmployeeAffiliation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChooseEmployeeFunction</servlet-name>
    <servlet-class>servlet.ChooseEmployeeFunction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChooseEmployeeFunction</servlet-name>
    <url-pattern>/servlet/ChooseEmployeeFunction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddSalesReceipt</servlet-name>
    <servlet-class>servlet.AddSalesReceipt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSalesReceipt</servlet-name>
    <url-pattern>/servlet/AddSalesReceipt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddServiceCharge</servlet-name>
    <servlet-class>servlet.AddServiceCharge</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServiceCharge</servlet-name>
    <url-pattern>/servlet/AddServiceCharge</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddTimeCard</servlet-name>
    <servlet-class>servlet.AddTimeCard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTimeCard</servlet-name>
    <url-pattern>/servlet/AddTimeCard</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>servlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/servlet/Register</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>filter.LoginFilter</filter-class>
    <init-param>
      <param-name>noLoginPath</param-name>
      <param-value>index.jsp;LoginEmployee;LoginAdmin;Register;register.jsp</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>